<div class="page-header">
  <h1>Jogo da Forca</h1>
</div>

<div class="game-content">

  <div class="sprite frame1" [ngClass]="getLostClass()" *ngIf="!venceuGame && !lostGame"></div>

  <div class="letras-content" *ngIf="gameStarded && !venceuGame && !lostGame">
    <div *ngFor="let letra of palavra.split(''); let pos = index"
         [class.letra]="letra.trim().length > 0"
         [class.letra-space]="letra.trim().length == 0">
      <span *ngIf="posDescoberta(pos)"> {{letra | uppercase}}</span>
    </div>
  </div>

  <div id="initial-div" class="initital-div" *ngIf="!gameStarded ">
    <label>Digite a Palavra:</label>
    <input type="text" [(ngModel)]="palavra" placeholder="Informe uma Palavra">
    <button class="btn-start" (click)="iniciarGame()">INICIAR</button>
  </div>

  <div class="initital-div" *ngIf="gameStarded && !venceuGame && !lostGame">
    <label>Digite uma letra:</label>
    <input #letra type="text">
    <button class="btn-start" (click)="tentarLetra(letra.value)">TENTAR</button>
  </div>


  <div class="lost red" *ngIf="lostGame">

    <h1>Oops, você Perdeu</h1>

    <div class="sprite frame9"></div>

    <div id="lost-msg">
      <div style="font-size: 20px; display: flex; padding-top: 10px">
        <span>A palavra era: </span>
        <strong id="palavra-lost" style="color: yellow; margin-left: 10px">{{palavra | uppercase}}</strong>
      </div>
    </div>
    <button (click)="reIniciarGame()" class="btn-win">REINICIAR</button>
  </div>


  <div class="win-div" *ngIf="venceuGame">
    <h1>Parabéns, você venceu!</h1>

    <div style="font-size: 20px; display: flex">
      <span>A palavra era: </span>
      <strong id="palavra-win" style="color: yellow; margin-left: 10px">{{palavra | uppercase}}</strong></div>

    <button id="btnRestart" class="btn-win" (click)="reIniciarGame()">REINICIAR</button>
  </div>

</div>

